/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2015, 10:52:25 PM
    Author     : Shreyan
*/
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div{
    font-family: serif;
}

input.button{
    vertical-align: middle;
    horizontal-align: middle;
    border-radius: 20px;
}